<div class="row">
<div class="span3">
	<%= render "layouts/sidebar" %>
</div>
<div class="span9">
	<div class="page-header">
		<h1>Ministries</h1>
	</div>

	<div class="row">
		<div class="span3">
			<ul class="nav nav-list nav-stacked">
				<li><a href="/ministries">Overview</a></li>
				<li class="active"><a href="/ministries/biblical-counseling">Biblical Counseling</i></a></li>
				<li><a href="/ministries/men-of-grace">Men of Grace</a></li>
				<li><a href="/ministries/women-of-grace">Women of Grace</a></li>
				<li><a href="/ministries/adult-bible-class">Adult Bible Class</a></li>
				<li><a href="/ministries/youth-of-grace">Youth of Grace</a></li>
				<li><a href="/ministries/sunday-school">Sunday School</a></li>
				<li><a href="/ministries/well-versed-kids">Well-Versed Kids</a></li>
				<li><a href="/ministries/questions-of-grace">Questions of Grace</a></li>
				<li><a href="/ministries/homeschoolers-of-grace">Homeschoolers of Grace</a></li>
			</ul>
		</div>

		<div class="span6">
			<p>We believe the Bible is the inspired and inerrant Word of God, which is sufficient for all of life. We have trained and experienced counselors committed to the sufficiency of Scripture in order to offer practical biblical solutions to the problems of life. Biblical counseling is done by Christians who are convinced that God is able to make the changes necessary as His Word is ministered in the power of the Holy Spirit.</p>

			<p>Biblical solutions for marriage, family, and other life dominating problems provided by qualified and experienced counselors - all at no charge to you.</p>

			<h3>Why People Come for Counseling</h3>
			<ul>
			<li>Marriage and Family Problems</li>
			<li>Divorce and remarriage</li>
			<li>Anger</li>
			<li>Anxiety</li>
			<li>Depression</li>
			<li>Decision-making</li>
			<li>Fear and panic</li>
			<li>Grief and suffering</li>
			<li>Drug and alcohol addiction</li>
			<li>Pornography</li>
			<li>Homosexuality / Lesbianism</li>
			<li>Attempted suicide</li>
			<li>Financial problems</li>
			<li>Other life-dominating problems</li></ul>
			<h3>Goals of Biblical Counseling</h3>
			<p>Biblical counseling has many goals, but our primary goal is to help you develop a whole-hearted love for God and others. Strange as it may sound today, our purpose is not to simply help you "feel better" or "find happiness," but to help you grow in personal holiness and spiritual maturity for service in the body of Christ. Another goal of biblical counseling is to help you meet the various challenges of life in a way that will always please and glorify the Lord Jesus Christ.</p>
			<h3>Uniqueness of Biblical Counseling</h3>
			<p>The Gospel of Jesus Christ is the answer to your most basic problems. The Bible is the counselor's main tool. The Holy Spirit imparts gifts to the counselor to guide and give hope through the Scripture. Prayer and dependence upon God are essential parts of biblical counseling.</p>
			<p>Biblical counselors have resources for helping you that unbelievers do not have—resources that are unique, sufficient, and superior to anything the world has to offer. Biblical counseling is comprehensive in that it recognizes the importance of the past, the present, and the future in your life. Both walking with God in this life and knowing Him in eternity are our concern for you.</p>
			<p>Using the Scripture in counseling requires understanding your problems from a biblical perspective and then applying step-by-step biblical solutions to those problems. The counselors who serve in the Biblical Counseling Ministry of Grace Bible Church know how to bring the Word of God to bear on sinful and hopeless situations. Hope can be found and change can be accomplished as the Word of God is ministered in the power and working of the Holy Spirit.</p>
			<h3>The Sufficiency of Scripture</h3>
			<p>The Scriptures of both the Old and the New Testaments are authoritative and sufficient for all the issues facing you in life. Many people say they believe in the authority of Scripture, but their practice denies its sufficiency to meet their needs. For example, "Christian psychology" attempts to integrate various psychological theories and humanistic philosophies with the Scriptures because it lacks confidence in the Word of God to deal with a person's "real" problems.</p>
			<p>Biblical counseling on the other hand, both in its message and method, is conducted with a commitment to the absolute sufficiency of Scripture as the means by which a Christian's spiritual problems must be addressed and solved. Christ taught that learning and applying Scripture is the starting point of change in our lives. Jesus prayed to his Father, "Sanctify them in the Truth; Your Word is Truth" (John 17: 17).</p>
			<p>Attempting to integrate secular psychology and Scripture is a rejection of the Bible's claim to be sufficient for us! This approach to counseling only leads to confusion by blurring the lines between humanistic behavior modification and genuine spiritual sanctification.</p>
			<p>To claim that the Scripture is sufficient, though, does not mean that reading the Bible is all that is needed. For example, working with a physician is certainly sensible and wise whenever there is a possibility of physical or organic causes relating or contributing to your problems.</p>
			<p>Referring to the Scripture, the apostle Peter said, "His divine power has granted to us everything pertaining to life and godliness, through the true knowledge of Him Who called us" (2 Peter 1 :3).</p>
			<h3>Biblical Change</h3>
			<p>Your circumstances are not the cause of your problems, rather they are tests which reveal the condition of your heart and which purify your obedience to God. It is only through an accurate biblical understanding of who and what you are that the true nature of your problems and their appropriate solutions can be known.</p>
			<p>Biblical change first takes place in your mind. Your thinking must be brought into alignment with the Word of God. Biblical counseling focuses on genuine heart change; not merely changing your circumstances or behavior.</p>
			<p>The Holy Spirit is the One who works in all areas of sanctification. He can change your thinking, attitudes, and behaviors, ultimately bringing you into complete conformity to Christ.</p>
			<p>You as a believer in Christ have the ability and necessary resources to glorify God and to live pleasing to Him. Counseling, when blessed by the Holy Spirit, helps you to become pure in heart, to have a peaceful conscience, and to sincerely trust God in order to live for His glory.</p>
			<h3>Counseling is a Ministry of the Church</h3>
			<p>The church is the means by which Christ has ordained to help believers grow into His likeness. Biblical counseling is not to be an optional ministry of the church. Preaching, teaching, evangelism, discipleship, and counseling are all vital parts of the church's ministry.</p>
			<p>Counseling is most effective when incorporated as part of the local church. You need the help of all combined church ministries. You need to hear the preaching and teaching of God's Word to motivate growth and change. You need the love and fellowship of other believers for relationships that will assist and encourage you. You need godly leaders who themselves are growing and changing to teach you by their example.</p>
			<p>The church encourages, motivates, and challenges believers to "love and good works" (Heb. 10:24). A counseling ministry provides practical, relevant help based upon sound biblical principles that enable you to be adequately equipped for every good work (2 Tim. 3: 17).</p>
			<h3>What is Nouthetic Counseling?</h3>
			<p>Nouthetic counseling is biblical counseling. The New Testament was written in Greek, from which the noun nouthesia (verb: noutheteo) comes. This Greek word is  sometimes translated "admonish, correct, or instruct." It literally means "to put into one's mind." This term occurs in such passages as Romans 15:14, "I myself am convinced about you, my brothers, that you are full of goodness, filled with all knowledge, and competent to counsel one another."</p>
			<p>In that passage, the apostle Paul was encouraging all the believers in the church at Rome to do informal, mutual counseling. Whereas, church leaders are called to formally counsel nouthetically as a regular part of their ministry.</p>
			<p>Nouthetic counseling involves warning others about the consequences of sin. It often requires lovingly admonishing others to turn away from wrong thinking and behavior.</p>
			<h3>Nouthetic counseling involves the following:</h3>
			<ul>
			<li>A biblical understanding of the problem</li>
			<li>An accurate understanding of the Scripture related to both the problem and the solution</li>
			<li>Providing instruction that presents God's solution to the problem</li>
			<li>The formulation of a specific biblical plan of action</li>
			<li>The commitment, by God's grace, to implement that plan of action into your life</li>
			</ul>
			<p>Nouthetic counseling provides genuine hope. Such hope is grounded in the character of God Himself, His Word, and the power of the Holy Spirit.</p>
			<p>All counseling, biblical or otherwise, attempts change. Only God's Word tells us what we should become as the result of counseling: We should think and act more like Jesus Christ, He is the Standard.</p>
			<h3>National Association of Nouthetic Counselors</h3>
			<p>The National Association of Nouthetic Counselors (NANC) is a fellowship of Christian pastors and other believers who have joined together to promote excellence in biblical counseling. NANC was founded in 1975 to address several needs in the biblical counseling community.</p>
			<p>NANC is first and foremost a certifying organization. The certification process consists of the completion of an approved training course, the completion of both a theological and a practical counseling test, several references, and a minimum of 50 hours of supervised counseling experience.</p>
			<p>NANC promotes the cause of biblical counseling and the doctrine of the sufficiency of the Scriptures. NANC exists to help pastors and those who would be ministers of the Word of God by providing training and encouragement.</p>
			<p><a href="http://www.nanc.org/page.asp?contentid=1"><img border="0" width="223" height="124" src="/images-misc/nanc/nanc-large.jpg"></a></p>
			<p><strong><em><a href="http://www.nanc.org/page.asp?contentid=1">NANC</a> Certified</em></strong></p>
			<p>Pursuing  Excellence in Biblical Counseling</p>
			<p><img width="59" height="58" src="/images-misc/nanc/nanc-small.jpg"></p>
		</div>
	</div>
</div>
</div>
