<div class="row">
<div class="span3">
	<%= render "layouts/sidebar" %>
</div>
<div class="span9">
	<div class="page-header">
		<h1>Ministries</h1>
	</div>

	<div class="row">
		<div class="span3">
			<ul class="nav nav-list nav-stacked affix">
				<li class="active"><a href="/ministries">Overview<i class="icon-chevron-right"></i></a></li>
				<li><a href="/ministries/biblical-counseling">Biblical Counseling<i class="icon-chevron-right"></i></a></li>
				<li><a href="/ministries/men-of-grace">Men of Grace<i class="icon-chevron-right"></i></a></li>
				<li><a href="/ministries/women-of-grace">Women of Grace<i class="icon-chevron-right"></i></a></li>
				<li><a href="/ministries/adult-bible-class">Adult Bible Class<i class="icon-chevron-right"></i></a></li>
				<li><a href="/ministries/youth-of-grace">Youth of Grace<i class="icon-chevron-right"></i></a></li>
				<li><a href="/ministries/sunday-school">Sunday School<i class="icon-chevron-right"></i></a></li>
				<li><a href="/ministries/well-versed-kids">Well-Versed Kids<i class="icon-chevron-right"></i></a></li>
				<li><a href="/ministries/questions-of-grace">Questions of Grace<i class="icon-chevron-right"></i></a></li>
				<li><a href="/ministries/homeschoolers-of-grace">Homeschoolers of Grace<i class="icon-chevron-right"></i></a></li>
			</ul>
		</div>

		<div class="span6">
			<p>Here is a summary of the ministries of the church.</p>
		</div>
	</div>
</div>
</div>
