<div class="row">
<div class="span3">
	<%= render "layouts/sidebar" %>
</div>
<div class="span9">
	<div class="page-header">
		<h1>Men of Grace</h1>
	</div>

	<div class="row">
		<div class="span6">
			<p>The Men of Grace gather Tuesday mornings at 7:00 or Friday mornings at 6:00 for breakfast and bible study. During this time we discuss Scripture and homework, and are challenged in specific, practical ways to be spiritual- minded men, godly husbands, loving fathers and faithful at our employment. In addition, throughout the week many of the men of GBC gather for personal discipleship in one-on-one mentoring relationships.</p>
		</div>

		<div class="span3">
			<ul class="nav nav-list nav-stacked">
				<li><a href="/ministries">Overview</a></li>
				<li><a href="/ministries/biblical-counseling">Biblical Counseling</i></a></li>
				<li class="active"><a href="/ministries/men-of-grace">Men of Grace</a></li>
				<li><a href="/ministries/women-of-grace">Women of Grace</a></li>
				<li><a href="/ministries/adult-bible-class">Adult Bible Class</a></li>
				<li><a href="/ministries/youth-of-grace">Youth of Grace</a></li>
				<li><a href="/ministries/sunday-school">Sunday School</a></li>
				<li><a href="/ministries/well-versed-kids">Well-Versed Kids</a></li>
				<li><a href="/ministries/questions-of-grace">Questions of Grace</a></li>
				<li><a href="/ministries/homeschoolers-of-grace">Homeschoolers of Grace</a></li>
			</ul>
		</div>
	</div>
</div>
</div>
