<div class="row">
<div class="span3">
	<%= render "layouts/sidebar" %>
</div>
<div class="span9">
	<div class="page-header">
		<h1>Well-Versed Kids</h1>
	</div>

	<div class="row">
		<div class="span6">
			<p>Children (ages 4-12) meet each Wednesday night during our mid-week Bible study and prayer meeting. The children are instructed from the Word of God, with an emphasis placed on Scripture memory work and the learning of praise songs.</p>
			<img src="/images-misc/well-versed-kids/photo.jpg" alt="Photo from Well-Versed Kids.">
		</div>

		<div class="span3">
			<ul class="nav nav-list nav-stacked">
				<li><a href="/ministries">Overview</a></li>
				<li><a href="/ministries/biblical-counseling">Biblical Counseling</i></a></li>
				<li><a href="/ministries/men-of-grace">Men of Grace</a></li>
				<li><a href="/ministries/women-of-grace">Women of Grace</a></li>
				<li><a href="/ministries/adult-bible-class">Adult Bible Class</a></li>
				<li><a href="/ministries/youth-of-grace">Youth of Grace</a></li>
				<li><a href="/ministries/sunday-school">Sunday School</a></li>
				<li class="active"><a href="/ministries/well-versed-kids">Well-Versed Kids</a></li>
				<li><a href="/ministries/questions-of-grace">Questions of Grace</a></li>
				<li><a href="/ministries/homeschoolers-of-grace">Homeschoolers of Grace</a></li>
			</ul>
		</div>
	</div>
</div>
</div>
