<div class="row">
<div class="span3">
	<%= render "layouts/sidebar" %>
</div>
<div class="span9">
	<div class="page-header">
		<h1>Women of Grace</h1>
	</div>

	<div class="row">
		<div class="span6">
			<p><em>Women of Grace</em> meets at the church on Tuesdays at 9:30-11:30 a.m. or 7:00-9:00 p.m. for in-depth Bible study, lecture, and prayer time. Homework assignments are explored in the dynamic of small discussion groups. The goal of such studies is to encourage older women to instruct younger women to love their husbands, their children, and to be keepers at home as they grow in Christ-like character.</p>

			<h3>Studies in Romans</h3>
			<table class="table">
				<tr><th>Date</th><th>Passage</th><th>Audio</th></tr>
				<tr><td>Sept. 4, 2012</td><td>Study 1: Romans 1:1-17<br>Introducing the Gospel</td><td><a href="https://s3.amazonaws.com/gbctulsa/wog/2012-2013/WOG-Romans-Session-1.mp3">Download</a></td></tr>
				<tr><td>Sept. 11, 2012</td><td>Study 2: Romans 1:18-32<br>The Pagans Need the Gospel</td><td><a href="https://s3.amazonaws.com/gbctulsa/wog/2012-2013/WOG-Romans-Session-2.mp3">Download</a></td></tr>
				<tr><td>Sept. 18, 2012</td><td>Study 3: Romans 2:1-16<br>The Religious Need the Gospel (I)</td><td><a href="https://s3.amazonaws.com/gbctulsa/wog/2012-2013/WOG-Romans-Session-3.mp3">Download</a></td></tr>
				<tr><td>Sept. 25, 2012</td><td>Study 4: Romans 2:17-3:8<br>The Religious Need the Gospel (II)</td><td><a href="https://s3.amazonaws.com/gbctulsa/wog/2012-2013/WOG-Romans-Session-4.mp3">Download</a></td></tr>
				<tr><td>Oct. 2, 2012</td><td>Study 5: Romans 3:9-20<br>Everyone Needs the Gospel</td><td><a href="https://s3.amazonaws.com/gbctulsa/wog/2012-2013/WOG-Romans-Session-5.mp3">Download</a></td></tr>
				<tr><td>Oct. 9, 2012</td><td>Study 6: Romans 3:21-31<br>How Justification Works</td><td><a href="https://s3.amazonaws.com/gbctulsa/wog/2012-2013/WOG-Romans-Session-6.mp3">Download</a></td></tr>
				<tr><td>Oct. 16, 2012</td><td>Study 7: Romans 4:1-25<br>When Justification Started</td><td><a href="https://s3.amazonaws.com/gbctulsa/wog/2012-2013/WOG-Romans-Session-7.mp3">Download</a></td></tr>
				<tr><td>Oct. 23, 2012</td><td>Study 8: Romans 5:1-11<br>What Justification Brings</td><td><a href="https://s3.amazonaws.com/gbctulsa/wog/2012-2013/WOG-Romans-Session-8.mp3">Download</a></td></tr>
				<tr><td>Oct. 30, 2012</td><td>Study 9: Romans 5:12-21<br>Why Justification Comes</td><td><a href="https://s3.amazonaws.com/gbctulsa/wog/2012-2013/WOG-Romans-Session-9.mp3">Download</a></td></tr>
				<tr><td>Nov. 6, 2012</td><td>Study 10: Romans 6:1-14<br>Union with Christ</td><td><a href="https://s3.amazonaws.com/gbctulsa/wog/2012-2013/WOG-Romans-Session-10.mp3">Download</a></td></tr>
				<tr><td>Nov. 13, 2012</td><td>Study 11: Romans 6:15-7:6<br>Servants of God</td><td><a href="https://s3.amazonaws.com/gbctulsa/wog/2012-2013/WOG-Romans-Session-11.mp3">Download</a></td></tr>
				<tr><td>Nov. 20 - Jan. 8</td><td>Holiday Break</td><td>Review</td></tr>
				<tr><td>Jan. 8, 2013</td><td>Study 12: Romans 7:7-25<br>Warfare with Sin</td><td><a href="https://s3.amazonaws.com/gbctulsa/wog/2012-2013/WOG-Romans-Session-12.mp3">Download</a></td></tr>
				<tr><td>Jan. 15, 2013</td><td>Study 13: Romans 8:1-11<br>Fighting Sin with the Spirit</td><td><a href="https://s3.amazonaws.com/gbctulsa/wog/2012-2013/WOG-Romans-Session-13.mp3">Download</a></td></tr>
				<tr><td>Jan. 22, 2013</td><td>Study 14: Romans 8:12-27<br>Living as Children of God</td><td><a href="http://gbctulsa.s3.amazonaws.com/wog/2012-2013/WOG-Romans-Session-14.mp3">Download</a></td></tr>
				<tr><td>Jan. 29, 2013</td><td>Study 15: Romans 8:28-39<br>Facing Troubles with Confidence</td><td><a href="http://gbctulsa.s3.amazonaws.com/wog/2012-2013/WOG-Romans-Session-15.mp3">Download</a></td></tr>
				<tr><td>Feb. 5, 2013</td><td>Study 16: Romans 9:1-29<br>God&rsquo;s Sovereignty</td><td><a href="http://gbctulsa.s3.amazonaws.com/wog/2012-2013/WOG-Romans-Session-16.mp3">Download</a></td></tr>
			</table>
		</div>

		<div class="span3">
			<ul class="nav nav-list nav-stacked">
				<li><a href="/ministries">Overview</a></li>
				<li><a href="/ministries/biblical-counseling">Biblical Counseling</i></a></li>
				<li><a href="/ministries/men-of-grace">Men of Grace</a></li>
				<li class="active"><a href="/ministries/women-of-grace">Women of Grace</a></li>
				<li><a href="/ministries/adult-bible-class">Adult Bible Class</a></li>
				<li><a href="/ministries/youth-of-grace">Youth of Grace</a></li>
				<li><a href="/ministries/sunday-school">Sunday School</a></li>
				<li><a href="/ministries/well-versed-kids">Well-Versed Kids</a></li>
				<li><a href="/ministries/questions-of-grace">Questions of Grace</a></li>
				<li><a href="/ministries/homeschoolers-of-grace">Homeschoolers of Grace</a></li>
			</ul>
		</div>
	</div>
</div>
</div>
