<div class="row">
<div class="span3">
	<%= render "layouts/sidebar" %>
</div>
<div class="span9">
	<div class="page-header">
		<h1>Women of Grace</h1>
	</div>

	<div class="row">
		<div class="span6">
			<p><em>Women of Grace</em> meets at the church on Tuesdays at 9:30-11:30 a.m. or 7:00-9:00 p.m. for in-depth Bible study, lecture, and prayer time. Homework assignments are explored in the dynamic of small discussion groups. The goal of such studies is to encourage older women to instruct younger women to love their husbands, their children, and to be keepers at home as they grow in Christ-like character.</p>

			<p>While <em>Women of Grace</em> meets on Tuesday mornings, <em>Children of Grace</em> (from Nursery to Kindergarten) provides child care and Bible instruction.</p>

			<h3>Studies in Romans</h3>
			<table class="table">
				<tr><th>Session</th><th>Audio</th></tr>
				<tr><td>Session 1: September 4, 2012</td><td><a href="/audio/wog/2012-2013/WOG-Romans-Session-1.mp3">Download</a></tr>
			</table>
		</div>

		<div class="span3">
			<ul class="nav nav-list nav-stacked">
				<li><a href="/ministries">Overview</a></li>
				<li><a href="/ministries/biblical-counseling">Biblical Counseling</i></a></li>
				<li><a href="/ministries/men-of-grace">Men of Grace</a></li>
				<li class="active"><a href="/ministries/women-of-grace">Women of Grace</a></li>
				<li><a href="/ministries/adult-bible-class">Adult Bible Class</a></li>
				<li><a href="/ministries/youth-of-grace">Youth of Grace</a></li>
				<li><a href="/ministries/sunday-school">Sunday School</a></li>
				<li><a href="/ministries/well-versed-kids">Well-Versed Kids</a></li>
				<li><a href="/ministries/questions-of-grace">Questions of Grace</a></li>
				<li><a href="/ministries/homeschoolers-of-grace">Homeschoolers of Grace</a></li>
			</ul>
		</div>
	</div>
</div>
</div>
