<div class="row">
<div class="span3">
	<%= render "layouts/sidebar" %>
</div>
<div class="span9">
	<div class="page-header">
		<h1>Links</h1>
	</div>

	<div class="row">
		<div class="span3">
			<p class="lead">Web Sites</p>
			<table class="table">
				<tr><td>
					<a href="http://www.desiringgod.org/">Desiring God</a><br>
					God-centered resources from the ministry of John Piper
				</td></tr>
				<tr><td>
					<a href="http://www.gty.org/">Grace To You</a><br>
					Bible teaching media ministry of John MacArthur
				</td></tr>
				<tr><td>
					<a href="http://www.ligonier.org/">Ligonier Ministries</a><br>
					Helping people grow in their knowledge of God and His holiness, the ministry of  R.C. Sproul
				</td></tr>
				<tr><td>
					<a href="http://www.alliancenet.org/">Alliance of Confessing Evangelicals</a><br>
					The ministry website of Michael Horton and the late James Montgomery Boice
				</td></tr>
			</table>
		</div>

		<div class="span3">
			<p class="lead">Blogs</p>
			<table class="table">
				<tr><td><a href="http://theologica.blogspot.com">Between Two Worlds</a></td></tr>
				<tr><td><a href="http://blog.togetherforthegospel.org">Together For the Gospel</a></td></tr>
				<tr><td><a href="http://www.sfpulpit.com">Pulpit Magazine</a></td></tr>
				<tr><td><a href="http://teampyro.blogspot.com">Pyromaniacs</a></td></tr>
				<tr><td><a href="http://www.challies.com">Challies.com</a></td></tr>
				<tr><td><a href="http://www.reformation21.com/Reformation_21_Blog/57">Reformation 21 Blog</a></td></tr>
				<tr><td><a href="http://www.albertmohler.com">Albert Mohler's Blog</a></td></tr>
			</table>
		</div>

		<div class="span3">
			<p class="lead">Other Resources</p>
			<table class="table">
				<tr><td><a href="http://www.graceandtruthbooks.com">Grace and Truth Books</a></td></tr>
				<tr><td><a href="http://www.sovereigngraceministries.org/Resources/Music/FeaturedReleases.aspx">Sovereign Grace Ministries</a></td></tr>
			</table>
		</div>
	</div>
	
</div>
</div>
