<div class="row">
<div class="span3">
	<%= render "layouts/sidebar" %>
</div>
<div class="span9">
	<div class="page-header">
		<h1>Grace Bible Church</h1>
	</div>

	<p>We invite you to come to Tulsa and join us for worship! We are a Bible church committed to the systematic teaching of Scripture. We desire to follow Jesus Christ by sharing our lives together and by following the New Testament pattern for ministry.</p>

	<p>We sincerely hope you will make Grace Bible Church your church home in order to grow in the grace and the knowledge of Jesus Christ as we bring the gospel message to the people of Tulsa and the world.</p>

	<p>Sunday morning worship services are held at 10:45 am. Sunday School classes begin at 9:30 am and are available for children of all ages, youth, and adults. Nurseries are provided for infants and toddlers during both the worship services and Sunday School.</p>
</div>
</div>
