<div class="row">
<div class="span3">
	<div>
		<p>
			<strong>Service Times are:</strong><br>
			Sunday School 9:30 a.m.<br>
			Sunday Morning 10:45 a.m.<br>
			Sunday Evening 6:00 p.m.
		</p>
	</div>

	<div>
		<p>
			<strong>Our address is:</strong><br>
			Grace Bible Church<br>
			7415 East 15th Street<br>
			Tulsa, OK 74112
		</p>

		<p>Grace Bible Church is located halfway between Memorial and Sheridan on 15th.</p>

		<p><a href="http://www.google.com/maps?hl=en&output=search&q=Grace+Bible+Church&fb=1&cid=0,0,11779632447729171528&near=Tulsa,+OK&oi=manybox&ct=10&cd=1&resnum=6">Google Map Here</a></p>
	</div>

	<div>
		<p>
			<strong>Have any questions?</strong><br>
			Need further information?<br>
			Please call us at<br>
			(918) 834-4440 or <a href="/contact">email us</a>.
		</p>

		<p>We welcome your email, letter, or phone call. Feel free to ask for a personal visit with one of our pastors.</p>
	</div>
</div>
<div class="span9">
	<div class="page-header">
		<h1>Grace Bible Church</h1>
	</div>

	<p>We invite you to come to Tulsa and join us for worship! We are a Bible church committed to the systematic teaching of Scripture. We desire to follow Jesus Christ by sharing our lives together and by following the New Testament pattern for ministry.</p>

	<p>We sincerely hope you will make Grace Bible Church your church home in order to grow in the grace and the knowledge of Jesus Christ as we bring the gospel message to the people of Tulsa and the world.</p>

	<p>Sunday morning worship services are held at 10:45 am. Sunday School classes begin at 9:30 am and are available for children of all ages, youth, and adults. Nurseries are provided for infants and toddlers during both the worship services and Sunday School.</p>
</div>
</div>
