<div class="row">
<div class="span3">
	<%= render "layouts/sidebar" %>
</div>
<div class="span9">
	<div class="page-header">
		<h1>About Grace Bible Church</h1>
	</div>

	<ul class="nav nav-pills">
		<li><a href="/about">Purpose</a></li>
		<li><a href="/about/leadership">Leadership</a></li>
		<li><a href="/about/pastors">Pastors</a></li>
		<li><a href="/about/doctrine">Doctrine</a></li>
		<li class="active"><a href="/about/bylaws">Bylaws</a></li>
	</ul>

	<div class="page-header">
		<h2>ARTICLE VII: MEETINGS</h2>
	</div>

	<h2>Section A. Annual Meetings</h2>
	<p>An annual meeting of the membership will be held in a predetermined month of each year. The purpose of the annual meeting will be for hearing reports, reviewing a recommended budget, and transacting other business as called for by the elders.</p>
	<h2>Section B. Special Meetings</h2>
	<p>Special meetings of the membership may be called for any reason and at any time by the elders.</p>
	<h2>Section C. Notice of Meetings</h2>
	<p>Notice of an annual meeting will be given in the church bulletin no less than two successive Sundays preceding the day appointed. Notice and stated purpose of a special meeting shall be given in the church bulletin at least one week prior to the meeting.</p>

	<ul class="pager">
		<li class="previous">
			<a href="/about/bylaws/article-vi-corporate-officers">ARTICLE VI: CORPORATE OFFICERS</a>
		</li>
		<li class="next">
			<a href="/about/bylaws/article-viii-amendments">ARTICLE VIII: AMENDMENTS</a>
		</li>
	</ul>
</div>
</div>
