<div class="row">
<div class="span3">
	<%= render "layouts/sidebar" %>
</div>
<div class="span9">
	<div class="page-header">
		<h1>About Grace Bible Church</h1>
	</div>

	<ul class="nav nav-pills">
		<li><a href="/about">Purpose</a></li>
		<li><a href="/about/leadership">Leadership</a></li>
		<li><a href="/about/elders">Elders</a></li>
		<li><a href="/about/doctrine">Doctrine</a></li>
		<li class="active"><a href="/about/bylaws">Bylaws</a></li>

	</ul>

	<div class="page-header">
		<h2>ARTICLE II: PURPOSE AND COVENANT</h2>
	</div>

	<p>The purpose and covenant of Grace Bible Church are as follows: We, the Members of Grace Bible Church, do affectionately welcome all who believe in the Lord Jesus Christ into fellowship with us in the blessings of the Gospel. Being rooted and grounded in love, we covenant together to stand firm in one spirit and one mind, by God’s grace, striving together for the faith of the gospel. With all humility, gentleness, and patience, we will show forbearance to one another in love, being diligent to preserve the unity of the Spirit in the bond of peace. We commit to each other to grow in personal and collective holiness, dedicating ourselves to the personal and collective accountability of discipleship. We have read the Bylaws of Grace Bible Church and understand and agree that our church government is vested in the elders. Because we believe that the Scriptures stand as the sole, final authority in the church, we understand that the Bylaws serve only as a general guide of ministry to be determined by the elders. We submit to the loving oversight and discipline of the members and officers of Grace Bible Church. We will give cheerfully to this church as God has prospered us. We dedicate our families to live for the Lord, and we purpose to advance the kingdom of God through the investment of our time, talents, resources, and reputation.</p>

	<ul class="pager">
		<li class="previous">
			<a href="/about/bylaws/article-i-name">ARTICLE I: NAME</a>
		</li>
		<li class="next">
			<a href="/about/bylaws/article-iii-membership">ARTICLE III: MEMBERSHIP</a>
		</li>
	</ul>
</div>
</div>
