<div class="row">
<div class="span3">
	<%= render "layouts/sidebar" %>
</div>
<div class="span9">
	<div class="page-header">
		<h1>About Grace Bible Church</h1>
	</div>

	<ul class="nav nav-pills">
		<li><a href="/about">Our Purpose</a></li>
		<li><a href="/about/pastors">Our Pastors</a></li>
		<li><a href="/about/doctrine">Our Doctrine</a></li>
		<li class="active"><a href="/about/bylaws">Our Bylaws</a></li>
	</ul>

	<div class="page-header">
		<h2>ARTICLE IV: ELDERS</h2>
	</div>

	<p>The government of Grace Bible Church shall be vested in men who have been called to shepherd, oversee, lead, and care for the local church. These men are referred to as elders.</p>
	<h2>Section A. Qualification</h2>
	<p>The elders of the church shall be men who meet the qualifications specified in 1 Timothy 3:1-7, Titus 1:6-9, and 1 Peter 5:2-3.</p>
	<h2>Section B. Selection</h2>
	<p>Recommendations to fill the office of elder may be submitted by church members to existing elders at any time. The elders shall review all recommendations and determine each candidate’s qualifications. The names of candidates for eldership will be published in the church bulletin for four weeks to allow for congregational examination and comment. After this period, the elders will give final approval or disapproval. A unanimous vote among the elders is required for approval of a man to eldership.</p>
	<h2>Section C. Term of Office</h2>
	<p>The term of an elder's office shall be ongoing. If an elder ceases being a member of Grace Bible Church, his term shall automatically expire. Elders will be equally accountable to each other and to the congregation to continuously review each elder’s life in view of the qualifications of 1 Timothy 3:1-7, Titus 1:6-9, and 1 Peter 5:2-3.</p>
	<h2>Section D. Duties</h2>
	<p>It shall be the duty of the elders to govern all the ministries of the church which shall include, but not be limited to: the work of shepherding and overseeing of the souls of the members of the church; the teaching ministry which includes their own teaching and also the selection and oversight of other teachers and teaching materials for adults and children; the direction of worship services and meetings to be God-exalting and honoring; and the provision of leadership in matters of discipline. All these duties are to be done faithfully as servants unto the Lord, not for their own benefit but as unto the Lord, seeking to build up the body of Christ and to present every member of the church mature and complete in Christ.</p>

	<ul class="pager">
		<li class="previous">
			<a href="/about/bylaws/article-iii-membership">ARTICLE III: MEMBERSHIP</a>
		</li>
		<li class="next">
			<a href="/about/bylaws/article-v-deacons">ARTICLE V: DEACONS</a>
		</li>
	</ul>
</div>
</div>
