<div class="row">
<div class="span3">
	<%= render "layouts/sidebar" %>
</div>
<div class="span9">
	<div class="page-header">
		<h1>About Grace Bible Church</h1>
	</div>

	<ul class="nav nav-pills">
		<li><a href="/about">Purpose</a></li>
		<li><a href="/about/leadership">Leadership</a></li>
		<li><a href="/about/pastors">Pastors</a></li>
		<li><a href="/about/doctrine">Doctrine</a></li>
		<li class="active"><a href="/about/bylaws">Bylaws</a></li>
	</ul>

	<div class="page-header">
		<h2>ARTICLE VI: CORPORATE OFFICERS</h2>
	</div>

	<h2>Section A. Officers</h2>
	<p>The officers of Grace Bible Church, Inc. will be a Chairman, a Vice-Chairman, a Secretary, and a Treasurer.</p>
	<h2>Section B. Election of Officers</h2>
	<p>The officers of Grace Bible Church, Inc. will be chosen annually by the elders. Each officer shall hold his office until he resigns, or becomes otherwise disqualified to serve, or until his successor is appointed.</p>
	<h2>Section C. Subordinate Officers</h2>
	<p>The elders may appoint other officers as may be required for the business of Grace Bible Church, Inc. Such officers will have authority to perform appointed duties for a period as the elders may determine.</p>
	<h2>Section D. Chairman</h2>
	<p>The Chairman will be chosen by and from the elders of the Church and will serve as the President of Grace Bible Church, Inc. as may be required from time to time related to all legal matters affecting the Church as a corporation. He will preside at the meetings of the elders and deacons.</p>
	<h2>Section E. Vice-Chairman</h2>
	<p>The Vice-Chairman will be chosen by and from the elders of the Church and will serve as the Vice-President of Grace Bible Church, Inc. as may be required from time to time related to all legal matters affect- ing the Church as a corporation. In the absence or disability of the Chairman, the Vice-Chairman will preside at the meetings of the elders and deacons.</p>
	<h2>Section F. Secretary</h2>
	<p>The Secretary will be chosen by the elders of the Church from either the elders or the deacons of the Church and will serve as the Secretary of Grace Bible Church, Inc. as may be required from time to time re- lated to all legal matters affecting the Church as a corporation. The Secretary will have the duty to maintain, or cause to be maintained, the minutes of the meetings of the elders and deacons and meetings of general membership as prescribed by the Bylaws or as otherwise directed by the elders.</p>
	<h2>Section G. Treasurer</h2>
	<p>The Treasurer will be chosen by the elders of the Church from either the elders or the deacons of the Church and will serve as the Treasurer of Grace Bible Church, Inc. as may be required from time to time related to all legal matters affecting the Church as a corporation.</p>
	<p>The Treasurer will have the duty to keep and maintain, or cause to be kept and maintained, adequate and correct accounts of the properties and business transactions of the Church. He will deposit, or cause to be deposited, all funds contributed to the church for any purpose with such depositories as may be directed by the elders. He will disburse, or cause to be disbursed, the funds of the Church as directed by the elders. He will make, or cause to be made, the financial reports at each regular meeting of the elders and deacons and at the annual meeting of the members.</p>

	<ul class="pager">
		<li class="previous">
			<a href="/about/bylaws/article-v-deacons">ARTICLE V: DEACONS</a>
		</li>
		<li class="next">
			<a href="/about/bylaws/article-vii-meetings">ARTICLE VII: MEETINGS</a>
		</li>
	</ul>
</div>
</div>
