<div class="row">
<div class="span3">
	<%= render "layouts/sidebar" %>
</div>
<div class="span9">
	<div class="page-header">
		<h1>About Grace Bible Church</h1>
	</div>

	<ul class="nav nav-pills">
		<li><a href="/about">Purpose</a></li>
		<li><a href="/about/pastors">Pastors</a></li>
		<li><a href="/about/doctrine">Doctrine</a></li>
		<li class="active"><a href="/about/bylaws">Bylaws</a></li>
	</ul>

	<div class="page-header">
		<h2>ARTICLE V: DEACONS</h2>
	</div>

	<p>The deacon ministry of the church shall be conducted by a number of men as determined by the elders.</p>
	<h2>Section A. Qualification</h2>
	<p>Deacons shall be men who are members of the church and meet the qualifications specified in 1 Timothy 3:8-13.</p>
	<h2>Section B. Selection</h2>
	<p>Recommendations to fill the office of deacon may be submitted by church members to the elders at any time. The elders shall review all recommendations and determine each candidate’s qualifications. The names of candidates for deacon will be published in the church bulletin for four weeks to allow for congregational examination and comment. After this period, the elders will give final approval or disapproval. A unanimous vote among the elders is required for approval of a man to the office of deacon.</p>
	<h2>Section C. Term of Office</h2>
	<p>The term of a deacon’s office shall be ongoing. If a deacon ceases being a member of Grace Bible Church, his term shall automatically expire. Deacons will be equally accountable to the elders and to the congregation for continuous review of each deacon’s life in view of the qualifications of 1 Timothy 3:8-13.</p>
	<h2>Section D. Duties</h2>
	<p>While it is the duty of all church members to serve one another in love, deacons are expressly gifted and called by Christ to assist the elders in the shepherding of the saints, to aid in the general care of the church, and to perform other duties as assigned by the elders.</p>

	<ul class="pager">
		<li class="previous">
			<a href="/about/bylaws/article-iv-elders">ARTICLE IV: ELDERS</a>
		</li>
		<li class="next">
			<a href="/about/bylaws/article-vi-corporate-officers">ARTICLE VI: CORPORATE OFFICERS</a>
		</li>
	</ul>
</div>
</div>
