<div class="row">
<div class="span3">
	<%= render "layouts/sidebar" %>
</div>
<div class="span9">
	<div class="page-header">
		<h1>About Grace Bible Church</h1>
	</div>

	<ul class="nav nav-pills">
		<li><a href="/about">Purpose</a></li>
		<li><a href="/about/pastors">Pastors</a></li>
		<li><a href="/about/doctrine">Doctrine</a></li>
		<li class="active"><a href="/about/bylaws">Bylaws</a></li>
	</ul>

	<div class="page-header">
		<h2>PREAMBLE</h2>
	</div>

	<p>Recognizing that God has called His people to meet, worship, and serve together in structured groups which Scripture refers to as churches, and that it is God's desire that all things in the church be done decently and in order (cf. 1 Corinthians 14:40), the elders of Grace Bible Church have set forth the following Bylaws as a basis of that structure and order.</p>

	<ul class="pager">
		<li class="next">
			<a href="/about/bylaws/article-i-name">ARTICLE I: NAME</a>
		</li>
	</ul>
</div>
</div>
