<div class="row">
<div class="span3">
	<%= render "layouts/sidebar" %>
</div>
<div class="span9">
	<div class="page-header">
		<h1>About Grace Bible Church</h1>
	</div>

	<ul class="nav nav-pills">
		<li><a href="/about">Purpose</a></li>
		<li><a href="/about/leadership">Leadership</a></li>
		<li><a href="/about/elders">Elders</a></li>
		<li><a href="/about/doctrine">Doctrine</a></li>
		<li class="active"><a href="/about/bylaws">Bylaws</a></li>
	</ul>

	<div class="page-header">
		<h2>ARTICLE III: MEMBERSHIP</h2>
	</div>

	<h2>Section A. Definition of Membership</h2>
	<p>The New Testament teaches that all true Christians are members of one another (Ephesians 4:25) and members of the body of Christ (Ephesians 3:6, 5:30; 1 Corinthians 12:12-27). Thus, all baptized disciples who confess Jesus Christ as Lord and Savior, who manifest a walk consistent with their confession, and who meet regularly in an assembly of believers for worship and instruction are members of the body of Christ.</p>
	<p>In the providence of God, we may expect that Christ will add to the membership of Grace Bible Church either by a person’s conversion or by the movement of a believer from another church. A person who desires membership in Grace Bible Church will be interviewed by the elders to determine the genuineness of the person’s conversion and his or her willingness to accept the responsibilities of membership. Upon the elders’ determination that the person meets the New Testament qualifications for membership, a public testimony will be required of their faith in Christ and their commitment to the responsibilities of membership. This public testimony may be presented personally or read to the congregation by another individual.</p>
	<h2>Section B. Responsibilities of Membership</h2>
	<p>Believing that the Lord Jesus Christ purchased men from every tribe, tongue, people, and nation for God with His own blood, we recognize that His church is the community of all true believers for all time. As such, our first and primary responsibility is to proclaim the excellencies of Him who has called us out of darkness into His marvelous light. To that end, His divine power has granted to us every- thing pertaining to life and godliness by the authority and sufficiency of the Scriptures and the help of the Holy Spirit.</p>
	<p>Members are required to be baptized, obliged to be habitual in personal reading of and meditation on the Scriptures, to be consistent in prayer, and to render in their daily lives a loyal obedience to the commandments of the Word of God so as to bear witness to their faith in Christ by consistent Christian conduct and verbal testimony. Members are obliged to follow and love Christ, to make a habit of faithful attendance when the church gathers, to financially support the work with sacrificial giving, and to submit to the elders of Grace Bible Church in the matters in which their rule in the church is biblical and appropriate. Members should know one another so as to love, serve, comfort, exhort, and encourage, as this is our Lord’s provision for each one to be built up in the faith. Members should refrain from speaking against one another, but instead strengthen each other by their words and their spiritual gifts.</p>
	<h2>Section C. Voting Privileges of Membership</h2>
	<p>Membership shall not vest in any member any ownership rights in the Church, but shall only entitle the member to vote at a meeting of the members on those matters that the elders choose to submit to the church membership for affirmation. In such cases, voting privileges are restricted to members who are in good standing, who are not under any disciplinary action, and who have passed their eighteenth (18) birthday. Membership shall not be assignable by any member nor vested to any personal representative, heir, or devisee.</p>
	<h2>Section D. Discipline of Membership</h2>
	<p>Because part of our debt of love is to help one another walk consistently in righteousness and turn away from sin, any member of Grace Bible Church who is found in sin may expect to be reproved and corrected according to the pattern our Lord Jesus Christ outlined in Matthew 18:15-20 (See also Romans 16:17-19; 1 Corinthians 5; 2 Thessalonians 3:6-16; 1 Timothy 5:17-21; 2 Timothy 2:23-26; Titus 3:10-11; 2 John 9-11). Each and every member is expected to render this duty to the others. First, the sinning member should be confronted privately, in a spirit of gentleness (Galatians 6:1-2). If the member does not turn from that sin, then the confronting member must, in love, take one or two others with him and repeat the confrontation in their presence. These additional witnesses may help to render both good judgment and add their appeal to repentance (Deuteronomy 19:15-20; 2 Corinthians 13:1-2). If the sinning member still does not turn from sin, then this group of witnesses shall in- form the elders so that a date may be scheduled to tell the matter to the church, so that members may in love, exhort, reprove, correct, and pray for the one in sin.</p>
	<p>If, after the matter is told to the church, and after having been given sufficient time to repent, the sinning member continues to refuse to obey the commandments of our Lord, the elders will remove that member from the body, publicly announcing the removal to the church. This action will cancel all privileges of membership (fellowship with the church, attendance at meetings, immediate disqualification from holding any office or ministry of service in the church, participation in the Lord’s Supper) until such time as the church is satisfied that the person has returned to the Lord with genuine repentance. At that time the person is to be heartily and zealously received back into membership in the spirit of love and forgiveness (2 Corinthians 2:7-8).</p>
	<h2>Section E. Termination of Membership</h2>
	<p>Any member in good standing may voluntarily request withdrawal from membership by informing the elders of the reasons for their decision. If those reasons involve specific problems or disappointments with the church, the elders shall attempt to resolve those matters so that the member may remain a part of the church and enjoy greater fruitfulness and personal spiritual growth. Members may also be removed from membership by the decision of the elders for the following reasons: If they persistently neglect the meetings of the church without adequate reason over a period of at least six months, or if they are removed by excommunication as described in section D. If a member requests withdrawal from membership while in the process of church discipline, such a request will not be granted until the disciplinary process described in Section D has been performed.</p>
	<p>Because the New Testament instruction for Christians is that we all be members of a local church, the elders will always strongly recommend that any member who resigns will soon commit to another church of like faith. If the member has resigned in good standing, at the member’s request, the elders may provide a letter commending them to their new church home.</p>

	<ul class="pager">
		<li class="previous">
			<a href="/about/bylaws/article-ii-purpose-and-covenant">ARTICLE II: PURPOSE AND COVENANT</a>
		</li>
		<li class="next">
			<a href="/about/bylaws/article-iv-elders">ARTICLE IV: ELDERS</a>
		</li>
	</ul>
</div>
</div>
