<div class="row">
<div class="span3">
	<%= render "layouts/sidebar" %>
</div>
<div class="span9">
	<div class="page-header">
		<h1>About Grace Bible Church</h1>
	</div>

	<ul class="nav nav-pills">
		<li><a href="/about">Purpose</a></li>
		<li><a href="/about/pastors">Pastors</a></li>
		<li><a href="/about/doctrine">Doctrine</a></li>
		<li class="active"><a href="/about/bylaws">Bylaws</a></li>
	</ul>

	<div class="page-header">
		<h2>ARTICLE IX: ORDINANCES</h2>
	</div>

	<h2>Section A. The Lord's Supper</h2>

	<p>The Lord's Supper will be administered as frequently as the elders shall order. Participation is open to all who confess Jesus Christ as Lord and Savior, regardless of membership at Grace Bible Church.</p>

	<h2>Section B. Baptism</h2>

	<p>Baptism may be administered by any elder or any man approved by the elders upon a request made to the elders. The mode of baptism is immersion in water.</p>

	<ul class="pager">
		<li class="previous">
			<a href="/about/bylaws/article-viii-amendments">ARTICLE VIII: AMENDMENTS</a>
		</li>
		<li class="next">
			<a href="/about/bylaws/article-x-ordination">ARTICLE X: ORDINATION</a>
		</li>
	</ul>
</div>
</div>
