<div class="row">
<div class="span3">
	<%= render "layouts/sidebar" %>
</div>
<div class="span9">
	<div class="page-header">
		<h1>About Grace Bible Church</h1>
	</div>

	<ul class="nav nav-pills">
		<li><a href="/about">Purpose</a></li>
		<li><a href="/about/pastors">Pastors</a></li>
		<li><a href="/about/doctrine">Doctrine</a></li>
		<li class="active"><a href="/about/bylaws">Bylaws</a></li>
	</ul>

	<div class="page-header">
		<h2>ARTICLE X: ORDINATION</h2>
	</div>

	<p>Ordination refers to the unanimous recognition by an ordination council of a man’s call to the ministry, preparation as a shepherd, and qualification to serve. The Ordination Council shall be composed of the elders and other men as they may invite to participate. Ordination shall be conferred for life, so long as the man continues to manifest the qualifications of the office.</p>

	<ul class="pager">
		<li class="previous">
			<a href="/about/bylaws/article-ix-ordinances">ARTICLE IX: ORDINANCES</a>
		</li>
	</ul>
</div>
</div>
