<div class="row">
<div class="span3">
	<%= render :partial => "site/_sidebar" %>
</div>
<div class="span9">
	<div class="page-header">
		<h1>About Grace Bible Church</h1>
	</div>

	<ul class="nav nav-pills">
		<li class="active"><a href="/about">Our Purpose</a></li>
		<li><a href="/about/pastors">Our Pastors</a></li>
		<li><a href="/about/doctrine">Our Doctrine</a></li>
		<li><a href="/about/bylaws">Our Bylaws</a></li>
	</ul>

	<p><strong>Teaching: to transform lives for the glory of God.</strong> We truly need the renewing of our minds by the truth of God's Word. Our meetings contain expository instruction from the pages of Scripture. We approach the Scripture from the grammatical-historical perspective. We believe our sanctification primarily comes through the consistent study of the Bible and the application of its truth to our lives.</p>

	<p><strong>Worship: to exalt our glorious God before all people.</strong> "Let the righteous be glad; let them exult before God; yes, let them rejoice with gladness!" (Psalm 68:3). It is our calling to glorify God, both as individuals and as a church, by worshipping Him in Spirit and in truth. You will find our worship to be God-centered, not man centered entertainment. It is our privilege, duty, and delight to exalt and worship our God as we gather each week to magnify the Lord.</p>

	<p><strong>Fellowship: to strengthen and equip one another for service.</strong> Fellowship means "joint life," and we understand from God's Word that He has joined our lives together as disciples of His Son. Jesus Christ has given each of us spiritual gifts by which we can equip one another for every work of service to which He calls us, thus building one another up in the body of Christ. The work of the church is a team effort! Every member is gifted and is encouraged to find his or her gifts in order to discern how he or she might edify the body. Some key goals of our fellowship are: Discipleship (training one another through one-on-one relationships) and Purity (holding one another mutually accountable for individual spiritual growth). We have frequent fellowship meals together as a congregation as well.</p>

	<p><strong>Prayer: to seek God's face to accomplish His Own praise.</strong> "These all, with one mind were continually devoting themselves to prayer" (Acts 1:14). We strive to imitate this vital practice! The church is powerless without a habit of seeking the face of God and relying upon His strength, both in order to know His will and to find the strength to accomplish it.</p>
</div>
