<div class="row">
<div class="span3">
	<%= render "layouts/sidebar" %>
</div>
<div class="span9">
	<div class="page-header">
		<h1>About Grace Bible Church</h1>
	</div>

	<ul class="nav nav-pills">
		<li><a href="/about">Purpose</a></li>
		<li class="active"><a href="/about/pastors">Pastors</a></li>
		<li><a href="/about/doctrine">Doctrine</a></li>
		<li><a href="/about/bylaws">Bylaws</a></li>
	</ul>

	<div class="row">
	<div class="span3">
		<div class="page-header">
			<h2>Avery Boyd</h2>
		</div>
		<p>Avery has served as an elder for over 20 years, and prior to that served as a deacon for 16 years. He has been a small business owner in the Tulsa area for over 34 years. He joined the formation of Grace Bible Church in 1994.</p>

		<p>Avery has been trained in Navigators, biblical counseling, and as a small group leader. He has been involved in two missionary trips and several Bible conferences. He has spent many years providing one-on-one discipling and leading Bible studies for men.</p>

		<p>Avery married his high school sweetheart, Mary, in 1961. They have one adult son and two grandchildren.</p>
	</div>

	<div class="span3">
		<div class="page-header">
			<h2>John Dugas</h2>
		</div>
		<p>John has been a member of GBC since 1998 and has been actively involved in teaching, counseling and discipleship. John graduated with a Master in Theology from Dallas Theological Seminary in 1991. He later served as a pastor in southern Oklahoma prior to coming to GBC.</p>

		<p>John has also worked as a businessman in the Tulsa area since 1998.</p>

		<p>John and his wife, Connie, have been married since 1983 and have two daughters.</p>
	</div>

	<div class="span3">
		<div class="page-header">
			<h2>Kevin Johnson</h2>
		</div>
		<p>Kevin served for 25 years as a police officer with the Tulsa Police Department before coming on staff at GBC in 2005. He was ordained to the gospel ministry in 1991.</p>

		<p>Kevin is a certified counselor with the National Association of Nouthetic Counselors (NANC) and has a Master of Arts in Biblical Counseling from The Master's College.</p>

		<p>Kevin and his wife Betty have been married since 1979 and have two adult sons and three grandsons.</p>
	</div>
	</div>
</div>
