<% unless @section == "home" %>
<div class="hidden-phone">
<% end %>
	<div>
		<p>
			<strong>Meeting Times are:</strong><br>
			Sunday School: 9:30 a.m.<br>
			Sunday Morning: 10:45 a.m.<br>
			Small Groups: 6:00 p.m. (various locations in Tulsa and Owasso)
		</p>
	</div>

	<div>
		<p>
			<strong>Our address is:</strong><br>
			Grace Bible Church<br>
			7415 East 15th Street<br>
			Tulsa, OK 74112
		</p>

		<p>Grace Bible Church is located halfway between Memorial and Sheridan on 15th.</p>

		<p><a href="http://www.google.com/maps?hl=en&output=search&q=Grace+Bible+Church&fb=1&cid=0,0,11779632447729171528&near=Tulsa,+OK&oi=manybox&ct=10&cd=1&resnum=6">Google Map Here</a></p>

	<img src="/images-misc/site/building-photo.jpg" alt="Photo of the church building."><br>
	</div>

	<div>
		<p>
			<strong>Contact us:</strong><br>
			Call (918) 834-4440 or <a href="/contact">email us</a>.
		</p>

		<p>We welcome your communication. Feel free to ask for a personal visit with one of our pastors.</p>
	</div>
<% unless @section == "home" %>
</div>
<% end %>
