	<div>
		<p>
			<strong>Service Times are:</strong><br>
			Sunday School 9:30 a.m.<br>
			Sunday Morning 10:45 a.m.<br>
			Sunday Evening 6:00 p.m.
		</p>
	</div>

	<div>
		<p>
			<strong>Our address is:</strong><br>
			Grace Bible Church<br>
			7415 East 15th Street<br>
			Tulsa, OK 74112
		</p>

		<p>Grace Bible Church is located halfway between Memorial and Sheridan on 15th.</p>

	<img src="/images-misc/site/building-photo.jpg" alt="Photo of the church building.">

		<p><a href="http://www.google.com/maps?hl=en&output=search&q=Grace+Bible+Church&fb=1&cid=0,0,11779632447729171528&near=Tulsa,+OK&oi=manybox&ct=10&cd=1&resnum=6">Google Map Here</a></p>
	</div>

	<div>
		<p>
			<strong>Have any questions?</strong><br>
			Need further information?<br>
			Please call us at<br>
			(918) 834-4440 or <a href="/contact">email us</a>.
		</p>

		<p>We welcome your email, letter, or phone call. Feel free to ask for a personal visit with one of our pastors.</p>
	</div>
