<!DOCTYPE html>
<html>
<head>
  <title>Grace Bible Church &mdash; Tulsa, OK</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script type="text/javascript">
	  var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-18586736-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
	<script type="text/javascript" src="//use.typekit.net/lrv7ucz.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<style>
	html {
		overflow: -moz-scrollbars-vertical;
		overflow: scroll;
	}
</style>
<body>

	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="brand" href="/" style="font-size:1.8em;">Grace Bible Church</a>
				<div class="nav-collapse collapse">
				<ul class="nav">
					<li<% if (@section == "home") %> class="active"<% end %>><a href="/">Home</a></li>
					<li class="dropdown<% if (@section == "about") %> active<% end %>"><a href="#" class="dropdown-toggle" data-toggle="dropdown">About
						<b class="caret"></b>
					</a>
						<ul class="dropdown-menu">
							<li><a href="/about">Purpose</a></li>
							<li><a href="/about/leadership">Leadership</a></li>
							<li><a href="/about/elders">Elders</a></li>
							<li><a href="/about/doctrine">Doctrine</a></li>
							<li><a href="/about/bylaws">Bylaws</a></li>
						</ul>
					</li>
					<li class="dropdown<% if (@section == "ministries") %> active<% end %>"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Ministries
						<b class="caret"></b>
					</a>
						<ul class="dropdown-menu">
							<li><a href="/ministries">Overview</a></li>
							<li><a href="/ministries/biblical-counseling">Biblical Counseling</a></li>
							<li><a href="/ministries/men-of-grace">Men of Grace</a></li>
							<li><a href="/ministries/women-of-grace">Women of Grace</a></li>
							<li><a href="/ministries/adult-bible-class">Adult Bible Class</a></li>
							<li><a href="/ministries/youth-of-grace">Youth of Grace</a></li>
							<li><a href="/ministries/sunday-school">Sunday School</a></li>
							<li><a href="/ministries/well-versed-kids">Well-Versed Kids</a></li>
							<li><a href="/ministries/questions-of-grace">Questions of Grace</a></li>
							<li><a href="/ministries/homeschoolers-of-grace">Homeschoolers of Grace</a></li>
						</ul>
					</li>
					<li<% if (@section == "sermons") %> class="active"<% end %>><a href="/sermons">Sermons</a></li>
					<li<% if (@section == "links") %> class="active"<% end %>><a href="/links">Links</a></li>
					<li<% if (@section == "contact") %> class="active"<% end %>><a href="/contact">Contact</a></li>
				</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<%= yield %>
		<footer>
			<hr>
			<p>&copy; Grace Bible Church</p>
		</footer>
	</div>
<script type="text/javascript">
$(document).ready(function() {
	$('.dropdown-toggle').dropdown();
});
</script>
</body>
</html>
