<!DOCTYPE html>
<html>
<head>
  <title>Grace Bible Church &mdash; Tulsa, OK</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<style>
	html {
		overflow: -moz-scrollbars-vertical;
		overflow: scroll;
	}
	body {
		padding-top: 60px;
	}
</style>
<body>

	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="colapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="brand" href="/">Grace Bible Church</a>
				<div class="nav-collapse collapse">
				<ul class="nav">
					<li<% if (@section == "home") %> class="active"<% end %>><a href="/">Home</a></li>
					<li<% if (@section == "about") %> class="active"<% end %>><a href="/about">About</a></li>
					<li<% if (@section == "ministries") %> class="active"<% end %>><a href="/ministries">Ministries</a></li>
					<li<% if (@section == "sermons") %> class="active"<% end %>><a href="/sermons">Sermons</a></li>
					<li<% if (@section == "links") %> class="active"<% end %>><a href="/links">Links</a></li>
					<li<% if (@section == "contact") %> class="active"<% end %>><a href="/contact">Contact</a></li>
				</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<%= yield %>
		<footer>
			<hr>
			<p>&copy; Grace Bible Church</p>
		</footer>
	</div>

</body>
</html>
